<form (ngSubmit)="iniciarSesion()" class="container mt-5 p-4 border rounded shadow-sm" style="max-width: 400px; background-color: #f9f9f9;">
  <h2 class="text-center mb-4">Inicio de Sesión</h2>
  
  <div class="mb-3">
    <label for="username" class="form-label">Usuario</label>
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-person"></i></span>
      <input type="text" id="username" class="form-control" [(ngModel)]="username" name="username" required placeholder="Ingresa tu usuario">
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-lock"></i></span>
      <input [type]="verPassword ? 'text' : 'password'" id="password" class="form-control" [(ngModel)]="password" name="password" required placeholder="Ingresa tu contraseña">
      <button type="button" class="btn btn-outline-secondary" (click)="toggleVerPassword()">
        <i class="bi" [ngClass]="verPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
      </button>
    </div>
  </div>

  <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
</form>
