.container {
  display: flex;
  justify-content: center; /* Alinea horizontalmente al centro */
  align-items: center; /* Alinea verticalmente al centro */
  height: 100vh;
  background: linear-gradient(135deg, #e3ffe7, #d9e7ff);
  padding: 40px;
}

.card {
  width: 100%;
  max-width: 1000px; /* Establece un ancho máximo para la tarjeta */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: none;
  background: linear-gradient(145deg, #ffffff, #f3f3f3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 0.7s ease-in-out;
}

.card-header {
  background-color: #f9f9f9;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  padding: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.card-body {
  padding: 30px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.card-body.show {
  opacity: 1;
}

.btn-primary {
  width: 100%;
  background-color: #61c081;
  border-color: #61c081;
  font-size: 1rem;
  padding: 10px;
  border-radius: 50px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
  background-color: #4fa36a;
  transform: translateY(-3px);
}

.form-check-label {
  margin-left: 10px;
  font-size: 0.9rem;
  color: #555;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
