.notificacion {
    position: fixed;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    z-index: 1000;
  }
  
  .success { background-color: #28a745; }
  .error { background-color: #dc3545; }
  .info { background-color: #17a2b8; }
  
  .top { top: 10px; left: 50%; transform: translateX(-50%); }
  .bottom { bottom: 10px; left: 50%; transform: translateX(-50%); }
  .left { top: 50%; left: 10px; transform: translateY(-50%); }
  .right { top: 50%; right: 10px; transform: translateY(-50%); }
  